.filter{
    width: 100%;
    height: 6vh;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.filter a:hover{
    color: #ff33a7;
}