.modalTopo{
    background-color: #FF99C8;
    width: 100%;
}

.modalTitle{
    text-align: center;
}

.modalBtn:hover{
    color: red;
}

.modalContent{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.modalImg{
    height: 65vh;
    border-radius: .5rem;
}

.modalInfo{
    width: 40vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modalDesc{
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}

.modalDesc span{
    width: 80%;
    padding-top: 1rem;
}

@media (max-width: 710px){
    .modalContent{
        display: block;
        text-align: center;
    }
    .modalImg{
        width: 80%;
    }
    .modalInfo{
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }
  }