.slider {
  width: 100%;
  overflow: hidden;
}

.div-slide {
  height: 67vh;
}

.div-slide img {
  width: 100vw;
  height: 100%;
  margin: auto;
  display: flex;
}

.info {
  margin: -0.3rem 0 2rem;
  padding: 0 3rem 0 1rem;
  width: 100vw;
  background-color: #202020;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.infoDiv {
  width: 23%;
  display: flex;
  padding: 2rem 1rem;
}

.infoDiv h3 {
  padding: 0.5rem 0;
}

.iconInfo {
  width: 6rem;
}

@media (max-width: 640px) {
  .div-slide {
    height: 20vh;
  }

  .info {
    display: block;
    margin: auto;
  }

  .infoDiv {
    width: 80%;
    padding: 1rem 1rem;
    align-items: center;
    display: flex;
    margin: 0 auto;
  }

  .infoSub {
    display: flex;
    width: 75%;
  }
}
