html {
box-sizing: border-box;
overflow-x: hidden;
}

html body {
padding: 0;
margin: 0;
overflow-x: inherit;
}

/* === CARD ADD CART === */

.alertAdd{
    display: flex;
    right: 1rem;
    bottom: 1rem;
    position: fixed;
  }