html {
box-sizing: border-box;
overflow-x: hidden;
}

html body {
padding: 0;
margin: 0;
overflow-x: inherit;
}

/* === CARD ADD CART === */

.alertAdd{
    display: flex;
    right: 1rem;
    bottom: 1rem;
    position: fixed;
  }

/* FILTER */

.filter{
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterLink{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem 1rem;
}

.filterLink:hover{
  color: #ff33a7;
}

.hamburguer{
  display: none;
}

/* RESPONSIVE */

@media (max-width: 710px){
  .filter{
    display: flex;
  }
  .filterLink{
    display: flex;
    justify-content: center;
    display: none;
  }
  .alertAdd{
    display: flex;
    position: fixed;
    margin: 0 auto;
  }
  .hamburguer{
    display: flex;
    margin: auto;
    padding: .5rem 1rem;
  }
}